{% extends 'recipe_planner/base.html' %}

{% block content %}


<h2>Ingredient list! </h2>




{% if all_ingredients_list %}
    <form id="searchform"  method="post" action="" accept-charset="utf-8">
    {% csrf_token %}
    <select name="ingredients" multiple="multiple" size=25>

        {% for ingredient in all_ingredients_list %}
            <option value="{{ ingredient.name }}">{{ ingredient.name }}</option>
        {% endfor %}
        <input type="submit" value="Find recipes">

    </select>
    </form>

{% else %}
    <p>No ingredients are available.</p>
{% endif %}



<ul>
{% for recipe in recipes %}
    <li><a href="{% url 'recipe_planner:detail' recipe.id %}">{{ recipe.name|capfirst }}</a></li>
{% endfor %}
</ul>



{% endblock %}