{% extends 'recipe_planner/base.html' %}

{% block content %}


<h2>Ingredient list! </h2>




{% if all_ingredients_list %}
    <form id="searchform"  method="post" action="" accept-charset="utf-8">
    {% csrf_token %}
    <select name="ingredients" multiple="multiple" size=25>

        {% for ingredient in all_ingredients_list %}
            <option value="{{ ingredient.name }}">{{ ingredient.name }}</option>
        {% endfor %}
        <input type="submit" value="Find recipes">

    </select>
    </form>

{% else %}
    <p>No ingredients are available.</p>
{% endif %}




<!-- 
<form action="/action_page.php">
  <input type="checkbox" name="vehicle1" value="Bike"> I have a bike<br>
  <input type="checkbox" name="vehicle2" value="Car"> I have a car<br>
  <input type="checkbox" name="vehicle3" value="Boat" checked> I have a boat<br><br>
  <input type="submit" value="Submit">
</form>

 -->
<form method="post" action="" accept-charset="utf-8">
{% csrf_token %}
{% for recipe in recipes %}
    <input type="checkbox" name="recipes_to_add" value="{{recipe.name}}">
        <a href="{% url 'recipe_planner:detail' recipe.id %}">{{ recipe.name|capfirst }}</a><br>
{% endfor %}
    <input type="email" name="email_address">
    <input type="submit" value="Create (and email) shopping list">
</form>


<ul>
{% for ingr, amount in shopping_list %}
    <li>{{amount}}x  {{ingr}}</li>
{% endfor %}
</ul>

{{ email_message }}
<!-- 

<form method="post">
    {% csrf_token %}
    {{ form }}
    <div class="form-actions">
        
        <button type="submit">Email shopping list</button>
    </div>
</form> -->


{% endblock %}